[Desktop Entry]
Version=1.0
Type=Application
Name=Microsoft Teams
GenericName=Microsoft Teams
Comment=Microsoft Teams
#Icon=anki
Exec=google-chrome --app=https://teams.microsoft.com
NoDisplay=false
Categories=Internet;Network
StartupNotify=false
Terminal=false
