[user]
    name = Dmitry Klionsky
    email = dm.klionsky@gmail.com
[core]
    editor = emacs
[diff]
    tool = meld
[merge]
    tool = meld
[difftool]
    prompt = false
[mergetool]
    prompt = false
[color]
    status = auto
    branch = auto
    diff = auto
    interactive = auto
    ui = true
[url "https://"]
    insteadOf = git://
