[Desktop Entry]
Name=Google Drive Start
GenericName=File Synchronizer
Exec=rclone mount gdrive: /home/{{user}}/GoogleDrive/ --daemon
Terminal=false
Type=Application
Categories=Network;FileTransfer;
StartupNotify=false
