[Desktop Entry]
Name=Pdf advanced launcher
Exec=evincex.sh %u
Icon=evince
Type=Application
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/pdfx;
