[Desktop Entry]
Name=Erlang remote shell launcher
Exec=xfce4-terminal -x remshx.sh %u
Icon=utilities-terminal
Type=Application
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/remsh;
