source ~/erlang/{{erl_ver}}/activate

# FIX: ~/erlang/{{erl_ver}}/bin/start takes precedence over /sbin/start
export PATH=/sbin:$PATH
export ERL_AFLAGS="-kernel shell_history enabled"

alias cdv="$_KERL_ACTIVE_DIR/lib/observer-*/priv/bin/cdv"
