{ok, [[HOME]]} = init:get_argument(home).

StdAppPath = fun(App) ->
  ErlLib = HOME ++ "/.kerl/installations/{{erl_ver}}/lib/",
  [Path | _] = filelib:wildcard([ErlLib, App, "-*/ebin"]),
  Path
end.
%io:format("~p~n", [StdAppPath("debugger")]).

ERL_LIBS = HOME ++ "/.erl_libs".
Paths = filelib:wildcard(ERL_LIBS ++ "/*/_build/*/lib/*/ebin") ++
        filelib:wildcard(ERL_LIBS ++ "/*/ebin") ++ [
  StdAppPath("debugger"),
  StdAppPath("observer"),
  StdAppPath("wx")
].
%io:format("~p~n", [Paths]).

lists:foreach(
   fun(Path) ->
      true = code:add_pathz(Path),
      Beams = filelib:wildcard(filename:join(Path, "*.beam")),
      %io:format("~p~n", [Beams]),
      lists:foreach(
         fun(Beam) ->
            BeamMod = filename:rootname(Beam, ".beam"),
            {module, _} = code:load_abs(BeamMod)
         end, Beams)
   end, Paths).

true = code:add_pathz(ERL_LIBS ++ "/ebin").
{module, user_default} = code:load_abs(ERL_LIBS ++ "/ebin/user_default").
