[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=CapsLock to Control
Comment=
Exec=/home/ten0s/bin/capslock-to-control.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
