[Desktop Entry]
Encoding=UTF-8
Version=0.0.1
Type=Application
Name=PulseAudioStart
Comment=Kick PulseAudio
Exec=pulseaudio --start
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
