---
- name: Add apt key
  become: true
  get_url:
    url: https://dl-ssl.google.com/linux/linux_signing_key.pub
    dest: /etc/apt/trusted.gpg.d/google-chrome.gpg
    mode: '0644'
    force: true

- name: Add apt repo
  become: true
  apt_repository:
    repo: 'deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main'
    state: present

- name: Install
  become: true
  apt:
    name: google-chrome-stable
    state: latest

- name: Copy local scripts
  copy: src={{item}}
        dest=/home/{{user}}/bin/{{item}}
        mode=0755
        backup=true
  with_items:
  - chrome.sh

- name: Add policies 1/2
  become: true
  file:
    path: /etc/opt/chrome/policies/managed/
    state: directory

#
# https://cloud.google.com/docs/chrome-enterprise/policies/?policy=ExternalProtocolDialogShowAlwaysOpenCheckbox
#

- name: Add policies 2/2
  become: true
  copy:
    src: managed_policies.json
    dest: /etc/opt/chrome/policies/managed/
