---
#
# https://www.virtualbox.org/wiki/Linux_Downloads
#

- name: Copy scripts
  copy: src={{item}}
        dest=/home/{{user}}/bin/{{item}}
        mode=0755
        backup=true
  with_items:
  - vbox-pretend-machw.sh
  - vbox-set-resolution.sh

- name: Set vars
  set_fact:
    virtualbox_ver: 7.0

- name: Add apt key
  become: true
  get_url:
    url: https://www.virtualbox.org/download/oracle_vbox_2016.asc
    dest: /etc/apt/trusted.gpg.d/
    mode: '0644'
    force: true

- name: Add apt repo
  become: true
  apt_repository: repo='deb [arch=amd64] https://download.virtualbox.org/virtualbox/debian {{ubuntu_codename}} contrib'
                  state=present

- name: Install
  become: true
  apt: name=virtualbox-{{virtualbox_ver}}
       state=latest
