---
- name: Install deps
  become: true
  apt:
    name:
    - python3-gpg
    state: present

- name: Install
  become: true
  apt: name=dropbox
       state=latest

- name: Symlink 'refs'
  file: src=/home/{{user}}/Dropbox/refs
        dest=/home/{{user}}/refs
        state=link
        force=true

- name: Symlink 'wiki'
  file: src=/home/{{user}}/Dropbox/wiki
        dest=/home/{{user}}/wiki
        state=link
        force=true

#
# Dropbox starts again w/o help
#

#- name: Copy autostart config
#  copy: src={{item}}
#        dest=/home/{{user}}/.config/autostart/{{item}}
#        backup=true
#  with_items:
#  - my-dropbox.desktop

#- name: Install to Menu
#  copy: src={{item}}
#        dest=/home/{{user}}/.local/share/applications//{{item}}
#        backup=true
#  with_items:
#  - my-dropbox.desktop
