---
- name: Set vars
  set_fact:
    docker_compose_ver: 2.23.3 # https://github.com/docker/compose/releases

- name: Add apt key
  become: true
  get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/trusted.gpg.d/docker.key
    mode: '0644'
    force: true

- name: Add apt repo
  become: true
  apt_repository: repo='deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ubuntu_codename}} stable'
                  state=present

- name: Install Docker CE
  become: true
  apt:
    name:
    - docker-ce
    - docker-ce-cli
    - containerd.io
    state: latest

#
# Default 172.18.0.1/16 conflicts with VPN
# Setup custom default bridge network
# https://docs.docker.com/network/drivers/bridge/
#
- name: Copy dockerd config
  become: true
  copy: src=daemon.json
        dest=/etc/docker/
        mode=0644
        backup=true

#
# Docker Compose
# https://github.com/docker/compose/releases
#
- name: Install Docker Compose
  become: true
  get_url: url=https://github.com/docker/compose/releases/download/v{{docker_compose_ver}}/docker-compose-Linux-x86_64
           dest=/usr/local/bin/docker-compose
           mode=0755
           force=true

#
# Docker w/o sudo
# https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user
#

- name: Create docker group
  become: true
  group: name=docker
         state=present

- name: Append user to docker group
  become: true
  user: name={{user}}
        groups=docker
        append=true

- name: Start and enable Docker daemon
  become: true
  service: name=docker
           enabled=true
           state=started

#
# Possible fix for:
# $ sudo docker run hello-world
# Cannot connect to the Docker daemon. Is 'docker daemon' running on this host?
#
# https://docs.docker.com/engine/installation/ubuntulinux/#adjust-memory-and-swap-accounting
# Added to /etc/default/grub
# GRUB_CMDLINE_LINUX="cgroup_enable=memory swapaccount=1"
# sudo update-grub
# sudo reboot
#

- name: Copy scripts
  copy: src={{item}}
        dest=/home/{{user}}/bin/{{item}}
        mode=0755
        backup=true
  with_items:
  - docker-gc
  - docker-gci
  - docker-killall
